/.idea
/.vs
/.vscode

/OhMyLib/bin
/OhMyLib/obj

/OhMyLib.SourceGen/OhMyLib.SourceGen/bin
/OhMyLib.SourceGen/OhMyLib.SourceGen/obj

/OhMyLib.SourceGen/OhMyLib.SourceGen.Tests/bin
/OhMyLib.SourceGen/OhMyLib.SourceGen.Tests/obj

/OhMyTelegramBot/bin
/OhMyTelegramBot/obj

/OhMyTelegramBot/appsettings.json
OhMyBot.sln.DotSettings.user