/.idea
/.vs
/.vscode
.DS_Store

[Bb]in/
[Oo]bj/

/TestResults

/OhMyBot.Core/appsettings.json
/OhMyBot.TelegramGateway/appsettings.json
/OhMyBot.QQGateway/appsettings.json
/OhMyBot.Tests/appsettings.Test.json
OhMyBot.sln.DotSettings.user
