{
  "Bot": {
    "Token": "",
    "OwnerId": 0,
    "CommandPrefixes": ["/", "!"],
    "EnableProxy": true,
    "HttpProxy": {
      "Host": "http://127.0.0.1",
      "Port": 7890
    }
  },
  "ConnectionStrings": {
    "Database": "Host=localhost;Port=5432;Username=postgres;Password=password;Database=oh_my_bot"
  },
}